*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;

}


/* nav */
nav{
    position: fixed;
    top: 10%;
    right: 1%;
    line-height: 40px;
    z-index: 1;
}

li{
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0 20px;
    text-align: center;
    text-shadow: ;

}

a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-family: 'Alegreya', serif;
    font-size: 22px;
}
/* fine nav */


/* main */
.box{
    position: relative;
    height: 100vh;
    width: 100%;
}

.rosso{
    background-color: red;
}

.verde{
    background-color: green;
}

.giallo{
    background-color: yellow;
}

.layover{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}

#shoes-1:hover .layover.shoes-1{
    background-color: rgba(0, 0, 0, 0.0);
}

.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    text-align: center;
}

img{
    width: 90%;
}

p{
    color: green;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    word-spacing: 9px;
    line-height: 60px;  
}

p.yellow{
    color: yellow;
}
/* fine main */
















